#certificates {
    padding: 50px 0;
    background-color: #34070e;
    color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.cert-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

.cert-title {
    font-size: 2rem;
    font-weight: 700;
    color: #f7c99b;
    margin-bottom: 2rem;
    position: relative;
}

.cert-btn-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 12px;
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-btn {
    border: none;
    border-radius: 25px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #f7e7d7;
    color: #34070e;
}

.cert-btn:hover {
    background-color: #f7c99b;
    transform: translateY(-2px);
}

.cert-btn i {
    font-size: 16px;
}

.cert-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .cert-btn-content {
        padding: 20;
    }

    .cert-btn {
        font-size: 0.95rem;
        padding: 0.6rem 1.2rem;
    }

    .project-img {
        width: 160px;
    }

    .cert-btn-content {
        gap: 1rem;
        padding: 1rem;
    }
}