.hero-poster-box {
    position: relative;
    aspect-ratio: 10.9 / 5;
    width: 100%;
    overflow: hidden;
    isolation: isolate;
    container-type: inline-size;
    background: linear-gradient(135deg, #510a12 30%, #803434 50%, #690f1d 100%);
}

/* PORTFOLIO */
/* .hero-bg-title {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 1;
    font-size: 10cqi;
    line-height: 0.85;
    font-weight: 800;
    letter-spacing: -0.1em;
    color: #280409;;
    white-space: nowrap;
    user-select: none;
    transform: scaleX(2.9);
    transform-origin: left top;
    font-family: var(--font-editorial);
    animation: typing 2s steps(9) forwards;
} */

.hero-bg-title {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 1;
    font-size: 10cqi;
    line-height: 0.85;
    font-weight: 800;
    letter-spacing: -0.1em;
    color: #280409;
    white-space: nowrap;
    user-select: none;
    transform: scaleX(2.9);
    transform-origin: left top;
    font-family: var(--font-editorial);

    overflow: hidden;
    display: inline-block;
    animation: typing 3s steps(9) forwards;
}

/* UX UI WEB */
.hero-left-tags {
    position: absolute;
    top: 40%;
    left: 19%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.hero-left-tags span {
    display: block;
    font-size: 7cqi;
    line-height: 0.95;
    font-weight: 900;
    color: #f7c99b;
    text-transform: uppercase;
    font-family: var(--font-display);
}

/* Фото */
.hero-photo-layer {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.hero-poster-img {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 35cqi;
    height: auto;
    object-fit: contain;
    /* filter: drop-shadow(0 0 20px rgba(240, 181, 133, 0.5)) drop-shadow(0 0 60px rgba(239, 149, 119, 0.3)); */
}

/* FRONTEND */
.hero-front-title {
    position: absolute;
    top: 70%;
    left: 60%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0.86;
    pointer-events: none;
}

.hero-front-title span {
    font-size: 8cqi;
    font-weight: 900;
    letter-spacing: -0.06em;
    color: #f0dfc8;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: var(--font-display);
}

.hero-dot {
    position: absolute;
    border-radius: 50%;
    background: rgba(240, 181, 133, 0.7);
    filter: blur(1px);
    z-index: 1;
    pointer-events: none;
    animation: dotPulse ease-in-out infinite alternate;
}
