<section id="about-me" class="about-me">
  <div class="container about-me-container">
    <!-- <h2 class="about-me-title" data-lang="about_me_title">About me</h2> -->

    <p class="about-me-text" data-lang="about_text">
      <!-- <i class="fas fa-hand-paper hero-icon"></i> -->
      Hi! My name is <strong class="hero-name">Yevheniia Zalevska</strong>.
      Frontend Developer with hands-on experience building responsive websites
      and single-page applications using HTML, CSS, JavaScript, React, and
      Redux. Worked on commercial and freelance projects, collaborated in
      Agile/Scrum teams, and participated in website development, deployment,
      and client-oriented delivery. Focused on creating user-friendly
      interfaces, solving problems effectively, and continuously improving
      technical skills.
    </p>

    <a
      href="/YevheniiaZalevska-CV.pdf"
      class="about-me-cv-btn"
      download
      data-lang="download_cv"
    >
      <i class="fas fa-download"></i>
      Download CV
    </a>
  </div>
</section>
