<section id="certificates">
  <div class="container cert-container">
    <h2 class="cert-title" data-lang="certificates">My certification:</h2>

    <div class="cert-btn-content">
      <img
        class="project-img"
        src="/images/certificate1.png"
        alt="Certificate"
        width="250"
        height="250"
      />
      <a
        href="/Yevheniia Zalevska.pdf"
        download
        class="cert-btn"
        data-lang="tbn"
      >
        Download Certificate
      </a>
    </div>
  </div>
</section>
