<section id="education">
  <div class="container education-container">
    <div class="education-content">
      <h2 class="education-title" data-lang="education">Education:</h2>
      <ul class="education-list">
        <li class="education-item">
          <p class="education-text" data-lang="edu_it">
            <span class="edu-school">University Merito WSB</span> —
            <span class="edu-role"
              >Frontend Developer, Bachelor of Engineering</span
            ><br />
            <span class="edu-dates">2022 – now</span>
          </p>
        </li>
        <li class="education-item">
          <p class="education-text" data-lang="educ_col">
            <span class="edu-school">IT School GoIT</span> —
            <span class="edu-role"
              >Frontend Developer Course, Certificate Program</span
            ><br />
            <span class="edu-dates">2023 – 2025</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="education-lang">
      <h2 class="education-title" data-lang="lang">Languages:</h2>
      <ul class="education-list">
        <li class="education-item" data-lang="lang_ua">Ukrainian - Native</li>
        <li class="education-item" data-lang="lang_en">
          English - Intermediate
        </li>
        <li class="education-item" data-lang="lang_pl">
          Polish - Intermediate
        </li>
      </ul>
    </div>
  </div>
</section>
