<footer>
  <footer id="contacts">
    <div class="container footer-content">
      <h2 class="footer-title" data-lang="contact">Contacts:</h2>
      <div class="footer-dectop">
        <div class="footer-soc-content">
          <ul class="footer-soc-list">
            <li class="footer-soc-item">
              <a
                href="https://www.linkedin.com/in/yevheni%D1%96a-zalevska-303551331/"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li class="footer-soc-item">
              <a href="https://t.me/zhenyaxaaxaxaxax" target="_blank"
                ><i class="fa-brands fa-telegram"></i
              ></a>
            </li>
            <li class="footer-soc-item">
              <a href="https://github.com/YevheniiaZalevska" target="_blank"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
        <address>
          <div class="footer-address-content">
            <ul class="footer-address-list">
              <li class="footer-address-item">
                <a href="mailto:yevhenia05@gmail.com">yevhenia05@gmail.com </a>
              </li>
              <li class="footer-address-item">
                <a href="tel:+48570605465">+48 570 605 465</a>
              </li>
            </ul>
          </div>
        </address>
      </div>
    </div>
  </footer>
</footer>
