<header>
  <div class="container header-content">
    <a href="index.html" class="header-logo-link">
      <div class="header-logo">
        <span class="header-logo-text" data-lang="logo">YZ</span>
        <img
          class="header-img"
          src="/images/my-photo.jpg"
          alt="my foto"
          width="30"
          height="30"
        />
      </div>
    </a>

    <nav class="nav-menu" id="nav-menu">
      <ul class="header-list">
        <li class="header-item">
          <a href="#about-me" data-lang="skills">My skills</a>
        </li>
        <li class="header-item">
          <a href="#projects" data-lang="projects">Projects</a>
        </li>
        <li class="header-item">
          <a href="#education" data-lang="education">Education</a>
        </li>
        <li class="header-item">
          <a href="#contacts" data-lang="contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="header-right">
      <div class="header-lang">
        <select id="languages">
          <option value="en">EN</option>
          <option value="ua">UA</option>
        </select>
      </div>

      <button class="burger-menu" id="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
