<section class="hero-poster fade-in">
  <div class="container hero-poster-box">
    <!-- заднее слово -->
    <div class="hero-bg-title">Portfolio</div>

    <!-- левые теги -->
    <div class="hero-left-tags">
      <span>UX</span>
      <span>UI</span>
      <span>WEB</span>
    </div>

    <!-- фото -->
    <div class="hero-photo-layer">
      <img
        src="/images/iam.png"
        alt="Yevheniia Zalevska"
        class="hero-poster-img"
      />
    </div>

    <!-- передний заголовок -->
    <div class="hero-front-title">
      <span>FRONTEND</span>
      <span>DEVELOPER</span>
    </div>

    <!-- нижний блок -->
    <!-- <div class="hero-bottom-content">
      <p class="hero-poster-name">Yevheniia Zalevska</p>
      <p class="hero-poster-role">Frontend Developer</p>

      <a href="/YevheniiaZalevska-CV.pdf" download class="hero-poster-btn">
        Download CV
      </a>
    </div> -->
  </div>
</section>
