<section class="hero fade-in">
  <div class="container hero-content">
    <div class="hero-description">
      <h1 class="hero-title typewriter" data-lang="title">
        Frontend Developer
      </h1>
      <p class="about-me-text" data-lang="about_text">
        <i class="fas fa-hand-paper hero-icon"></i> Hi, I’m
        <strong class="hero-name" data-lang="hero-name"
          >Yevheniia Zalevska</strong
        >, and I`m a Front-End Developer. I like solving problems and looking
        for different solutions. My goal is to constantly improve my skills and
        create valuable digital products. I am inspired to work on new projects
        and gain experience. I have sound knowledge of HTML, CSS, JavaScript,
        and React. Also, I have hands-on experience in following Agile /Scrum
        methodology when working in a team. I am a fast learner, responsible,
        and ready for challenging tasks.In my free time I like to dance and
        paint. I am a creative person and always have a positive attitude
        towards new tasks.
      </p>

      <div class="hero-btn-content">
        <a
          href="/YevheniiaZalevska-CV.pdf"
          download
          class="hero-btn"
          data-lang="tbn"
        >
          Download CV
        </a>
      </div>
    </div>

    <div class="hero-profile">
      <img
        class="hero-img"
        src="/images/my-photo.jpg"
        alt="my foto"
        width="250px"
      />
    </div>
  </div>
</section>
