<section class="hero">
  <div class="container hero-content">
    <div class="hero-description">
      <h1 class="hero-title" data-lang="title">Frontend Devoleper</h1>
      <p class="hero-name" data-lang="name">Yevheniia Zalevska</p>
      <p class="hero-text" data-lang="you">
        Hello! I'm Yevheniia, and I create sleek and user-friendly interfaces.
        Passionate about React and turning ideas into interactive web
        applications."
      </p>

      <div class="hero-btn-content">
        <a
          href="/YevheniiaZalevska-CV.pdf"
          download
          class="hero-btn"
          data-lang="tbn"
        >
          Download CV
        </a>
      </div>
    </div>
  </div>

  <div class="hero-profile">
    <img
      class="hero-img"
      src="/images/my-photo.jpg"
      alt="my foto"
      width="250px"
    />
  </div>
</section>
