<section id="projects">
  <div class="container project-container">
    <h2 class="project-title" data-lang="projects">My projects</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project1.png"
            alt="Phonebook"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">Phonebook</h4>
          <p class="project-item-text" data-lang="1">
            Developed a Phonebook application in React to store contacts. Used
            state (useState) to manage the contact list and filtering.
            Implemented validation of input data and uniqueness of contacts.
            Added styling using CSS and responsive design. Used local storage
            (localStorage) to store contacts between sessions. A simple
            phonebook connected to Swagger backend API - you can register, log
            in, add, remove or filter contacts, log out.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/phonebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://phonebook-tau-seven.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project2.png"
            alt="GreenHarves"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">GreenHarvest</h4>
          <p class="project-item-text" data-lang="2">
            GreenHarvest - is a web platform dedicated to sustainable living and
            eco-friendly consumption. The site offers tips, articles, and ideas
            to help reduce environmental impact. Its design features natural
            tones, creating a sense of harmony with nature.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/GreenHarvest"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/GreenHarvest/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project3.png"
            alt="Filmoteka"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">Filmoteka</h4>
          <p class="project-item-text" data-lang="3">
            Filmoteka is a web application for searching movies using TMDB API.
            Users can enter a movie title and view its description, genres,
            trailer, rating, and poster. Clicking on a movie opens a modal
            window with detailed information. The site has a responsive design
            and runs on React + Vite, deployed on Vercel.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/Filmoteka"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://filmoteka-eta.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project4.png"
            alt="Chocolate Store"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">Chocolate</h4>
          <p class="project-item-text" data-lang="4">
            This is a website for selling chocolate, which includes information
            on the preparation method, ingredients and assortment. Responsive
            design, transform effects, modal windows.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/Chocolate"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/Chocolate/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project5.png"
            alt="WebStudio"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">WebStudio</h4>
          <p class="project-item-text" data-lang="5">
            WebStudio is a school for increasing client flow and sales for your
            business through digital marketing and growth solutions.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/WebStudio"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/WebStudio/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project6.png"
            alt="MemoryGame"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">MemoryGame</h4>
          <p class="project-item-text" data-lang="6">
            This is an emoji memory game in which the player must find pairs of
            identical fruits.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/memory-game"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/memory-game/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project7.png"
            alt="WeatherApp"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">Weather App</h4>
          <p class="project-item-text" data-lang="7">
            This is a site where you can see the weather in any city.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/Weather-app"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/Weather-app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project8.png"
            alt="FoodDeliveryService"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">Food delivery service</h4>
          <p class="project-item-text" data-lang="8">
            This website is a landing page for a food delivery service, created
            using HTML, CSS, and JavaScript. It includes sections with the menu,
            company information, and contact details. The project demonstrates
            responsive design, animations, and basic interactive elements, such
            as navigation between sections of the page.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/food-delivery-service"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/food-delivery-service/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>

        <div class="swiper-slide project-item">
          <img
            class="project-img"
            src="/images/project9.png"
            alt="YachtJet"
            width="250"
            height="250"
          />
          <h4 class="project-item-title">YachtJet</h4>
          <p class="project-item-text" data-lang="9">
            This website is a landing page for the YachtJet company, which
            offers luxury yacht rentals. The site features sections with company
            information, a yacht gallery, a list of services, and a contact
            form. The project showcases a stylish design, smooth animations, and
            responsive layout for comfortable viewing on different devices.
          </p>
          <div class="project-btn-content">
            <a
              href="https://github.com/YevheniiaZalevska/yachtjet"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn">
                <i class="fa-brands fa-github"></i> View Code
              </button>
            </a>
            <a
              href="https://yevheniiazalevska.github.io/yachtjet/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="project-btn" data-lang="btn1">
                <i class="fa-solid fa-earth-europe"></i> Live page
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- nav -->

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <!-- pagination -->

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
