<section id="statistics">
  <div class="container cert-container">
    <h2 class="cert-title" data-lang="wv">
      Web Vitals <i class="fas fa-award h-icon"></i>
    </h2>

    <div class="cert-content">
      <div class="cert-btn-content">
        <img
          class="project-img"
          src="/images/web1.png"
          alt="Web Vitals"
          width="450"
          height="450"
        />
      </div>

      <div class="cert-btn-content">
        <img
          class="project-img"
          src="/images/web2.png"
          alt="Web Vitals"
          width="450"
          height="450"
        />
      </div>

      <div class="cert-btn-content">
        <img
          class="project-img"
          src="/images/web3.png"
          alt="Web Vitals"
          width="350"
          height="350"
        />
      </div>
    </div>
  </div>
</section>
